.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.single-form-row {
  padding-bottom: 20px;
}

.mg-bottom {
  margin-bottom: 20px;
}

.error-notification {
  color: tomato;
}

nav {
  padding: 15px 0;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.image {
  width: 50%;
  margin-right: 20px;
}

.image img {
  max-width: 100%;
}

.info-data {
  text-align: left;
}

.login-page {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 0 15px;
}

.login-form > *,
.teacher-form > * {
  margin-bottom: 15px;
}

.login-form input[type="submit"] {
  width: 120px;
  align-self: center;
}

.single-comment-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-teacher-success {
  color: green;
}

.narcissus_17w311v {
  padding: 30px 50px !important;
}

a.color-btn {
  color: white !important;
}

.visible {
  display: block;
}

.hide {
  display: none;
}

.teacher-link {
  color: #007bff!important;
}

.teacher-link:hover {
  text-decoration: underline!important;
}